@media screen and (max-width: 768px) {
    .about-author {
        flex-direction: column; 
        text-align: center;
    }
    .face {
        margin-bottom: 20px;
        margin-right: 0rem;
    }
    .line {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-bottom: .5px solid #ffffff;
        width: 65%;
    }
    .features {
        text-align: center;
        padding-left: 0;
        padding-right: 0;
    }
}
@media screen and (max-width: 892px) {
    .browse {
        flex-direction: column; 
    }
    .browse-2 {
        flex-direction: column-reverse; 
    }
    .box-info {
        text-align: center;
    }
    .box-info-2 {
        text-align: center;
    }
}