.hero .homeBtn a {
    color: rgb(0, 0, 0);
}

.homeBtn {
    font-size: 1.5rem;
    font-weight: 500;
    border-radius: 1em;
    background: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 20px;
    display: inline-block;
    transition: .2s ease;
}
.homeBtn:hover {
    transform: scale(1.1);
    background: #B175FF;
    color: rgb(255, 255, 255);
}